*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.div1{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgb(0, 0,0,0.4)),url(pic1.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    
}
.div2{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
}


.div3{

    width: 220px;
    height: auto;
    margin: 35px auto ;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    border: 2px solid black; 
}
.login{
    padding: 10px 30px;
    cursor:pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
}
#btn{
    top:0px;
    left:0px;
    position: absolute;
    height: 100%;
    width: 110px;
    background: linear-gradient(to right,#df4e14,#ff10ad06);
    border-radius: 30px;
    transition: .5s;
}
.social-icon{
    margin: 30px auto;
    text-align: center;
}
.social-icon img{
    width: 30px;
    margin: 0 12px;
    box-shadow:0  0 20px   0  #7f7f7f;
    cursor:pointer;

}
.input-ground{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid  #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#df4e14,#ff10ad06);
    border: 0px;
    outline: none;
    border-radius: 30px;
}
.check-box{
  margin: 30px 10px 30px 0px;  
}
spanh{
    color: #777;
    font-size: 12px;
    position: absolute;

}