.header{height: 100px; width:100%;background-color: aqua;}
.nav{height: 50px; width:100%;background-color: grey;}
.center{height: 500px;width: 100%;background-color: bisque;}
.left1{height:500px;width:25%;background-color: blueviolet; float:left;}
.left2{height:500px;width:25%;background-color: rgb(33, 196, 33); float:left;}
.left3{height:500px;width:25%;background-color: rgb(28, 130, 214); float:left;}
.left4{height:500px;width:25%;background-color: blue; float:left;}
